@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.formBody{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.formBody input{
    margin-top:15px;
    padding: 5px;
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;

}
.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}